@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik+Wet+Paint&family=Russo+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

.container .formulario{
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    align-items: center;
    justify-content: center ;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container .formulario h1{
    color: #000000;
    font-size: 40px;
    margin: 10px;
}

.container .formulario .titulo{
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}




.container .formulario label{
    color: #000000;
    margin: 5px;
}

.container .formulario .titulo{
    text-align: center;
    position: absolute;
    top: 2%;
    color: #ffffff;

}

.container .formulario form{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid #FFCC00;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 30px;
    margin-top: 40px;    
}

.container .formulario form .labels{
    display: flex;
    flex-direction: column;
    margin: 1px;
    width: 90%;
}
.container .formulario form .labels label{
    justify-content: flex-start;
    display: flex;
}

.container .formulario form input{
    background-color: #D9D9D9;
    border: none;
    height: 30px;
    border-radius: 2px;
}

.btn-amarelo {
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFCC00;
    color: #000000;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
    border: 0;
    margin-top: 20px;
}


.container .mensagem{
    background-color: #FFCC00;
    width: 40%;
}

.container .mensagem .morcegos img{
position: absolute;
}

.container .mensagem span{
    font-size: 43px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 80%;
}

.bat1{
    bottom: 0;
    right: 0;
    width: 55px;
}

.bat2{
    width: 55px;
    top: 0;
    right: 36%;
}
.bat3{
    width: 55px;
    top: 42px;
    right: 29%;
}
.bat4{
    width: 55px;
    top: 18px;
    right: 19%;
}

.bat5{
    width: 55px;
    top: 100px;
    right: 9%;
}

.bat6{
    width: 55px;
    bottom: 28px;
    right: 32%;
}
.bat7{
    width: 55px;
    bottom: 91px;
    right: 35%;
}


.bat8{
    width: 55px;
    bottom: 28px;
    right: 32%;
}

.bat9{
    width: 55px;
    top: 0;
    right: 0%;
}
.bat10{
    width: 55px;
    bottom: 0px;
    right: 22%;
}

.bat11{
    width: 55px;
    bottom: 35px;
    right: 15%;
}

.bat12{
    width: 55px;
    bottom: 49px;
    right: 7%;
}


.container .mensagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .mensagem .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;


    & button{
        font-size: 20px;
        font-family: "Russo One", sans-serif;
        font-weight: 400;
        font-style: normal;
        justify-content: center;
        background-color: #FFCC00;
        color: #000000;
        width: 180px;
        height: 60px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
        margin: 10px;
        border: 0;
        margin: 40px;
    }
}

