@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik+Wet+Paint&family=Russo+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

.container .mensagem{
    background-color: #FFCC00;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .formulario{
    width: 60%;
    display: flex;
    flex-direction: column;
    /* background-image: url('../assets/gotham.png'); Se o CSS estiver em uma pasta separada */
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    background-color: #000000;
    align-items: center;
    justify-content: center ;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container .formulario h1{
    color: #000000;
    font-size: 40px;
    margin: 10px;
}

.container .formulario .titulo{
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}




.container .formulario label{
    color: #000000;
    margin: 5px;
}

.container .formulario .titulo{
    text-align: center;
    position: absolute;
    top: 2%;
    color: #ffffff;

}

.container .formulario form{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 2px solid #FFCC00;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 30px;
    margin-top: 40px;    
}

.container .formulario form .labels{
    display: flex;
    flex-direction: column;
    margin: 1px;
    width: 90%;
}
.container .formulario form .labels label{
    justify-content: flex-start;
    display: flex;
}

.container .formulario form input{
    background-color: #D9D9D9;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.btn-amarelo {
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFCC00;
    color: #000000;
    width: 180px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
    border: 0;
    margin-top: 20px;
}

.mensagem span{
    color: #000000;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}

.mensagem button{
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    background-color: #FFCC00;
    color: #000000;
    width: 180px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
    margin: 10px;
    border: 0;
    margin: 40px;
}



.batbranco1{
    position: absolute;
    width: 55px;
    left: 0%;
    top: 0px;
    opacity: 0.5;
}
.batbranco2{
    position: absolute;
    width: 55px;
    left: 4%;
    top: 5%;
    opacity: 0.5;
}
.batbranco3{
    position: absolute;
    width: 55px;
    left: 8%;
    top: 3%;
    opacity: 0.5;
}
.batbranco4{
    position: absolute;
    width: 55px;
    left: 12%;
    top: 6%;
    opacity: 0.5;
}
.batbranco5{
    position: absolute;
    width: 55px;
    left: 34%;
    top: 6%;
    opacity: 0.5;
}
.batbranco6{
    position: absolute;
    width: 55px;
    left: 24%;
    top: 6%;
    opacity: 0.5;
}
.batbranco7{
    position: absolute;
    width: 55px;
    left: 34%;
    top: 17%;
    opacity: 0.5;
}
.batbranco8{
    position: absolute;
    width: 55px;
    left: 53%;
    top: 0%;
    opacity: 0.5;
}
.batbranco9{
    position: absolute;
    width: 55px;
    left: 3%;
    bottom: 64%;
    opacity: 0.5;
}
.batbranco10{
    position: absolute;
    width: 55px;
    left: 5%;
    bottom: 24%;
    opacity: 0.5;
}
.batbranco11{
    position: absolute;
    width: 55px;
    left: 25%;
    bottom: 11px;
    opacity: 0.5;
}
.batbranco12{
    position: absolute;
    width: 55px;
    left: 56%;
    bottom: 48%;
    opacity: 0.5;
}
.batbranco13{
    position: absolute;
    width: 55px;
    left: 34%;
    bottom: 3%;
    opacity: 0.5;
}
.batbranco14{
    position: absolute;
    width: 55px;
    left: 0%;
    bottom: 46%;
    opacity: 0.5;
}
.batbranco15{
    position: absolute;
    width: 55px;
    left: 28%;
    bottom: 35%;
    opacity: 0.5;
}
.batbranco16{
    position: absolute;
    width: 55px;
    left: 32%;
    bottom: 60%;
    opacity: 0.5;}
.batbranco17{
    position: absolute;
    width: 55px;
    left: 12%;
    bottom: 0;
    opacity: 0.5;
}
.batbranco18{
    position: absolute;
    width: 55px;
    left: 2%;
    bottom: 6%;
    opacity: 0.5;
}
.batbranco19{
    position: absolute;
    width: 55px;
    left: 32%;
    bottom: 20%;
    opacity: 0.5;
}
